body {
  background-image: linear-gradient(to bottom, #0033FF, #C2E0F0, #0033FF);
  font-family: sans-serif, Arial, "Times New Roman";

}

header {
  background-color: #909090;
  background-image: url(symbol.jpg);
  background-position: right;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  height: 130px;
}

nav {
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: bold;
  background-color: #000000;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 20px;
}

nav a:link {
  color: #0033FF;
}

nav a:visited {
  color: #ffffff;
}

nav a:focus, nav a:hover {
  color: #808080;
}

nav a:active {
  color: #000000;
}

footer {
  font-size: 60%;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  clear: both;
}

main {
  padding: 1px 10px 20px 20px;
  background-color: #ffffff;
  color: #000000;
}

#wrapper {
  margin: auto;
  width: 80%;
  background-color: #c745ff;
  color: #000000;
  min-width: 960px;
  max-width: 1200px;
}

aside {
  width: 200px;
  background-color: #eaeaea;
  padding: 20px;
  font-size: 100%;
  box-shadow: 5px 5px 5px #333333;
	float: right;
	position: relative;
	top: -40px;
	margin-right: 40px;
}

@media only screen and (max-width: 1024px){
	main {
		margin: 0px;
	}
	body {
		margin: 0px;
	}
	#wrapper {
		min-width: auto;
	}
	nav {
		float: none;
		width: auto;
	}
	aside {
			float: none;
			width: auto;
	}
	nav li {
		display: inline-block;
		padding: .75em;
	}
	h1, h2, h3 {
		font-size: 120%;
    text-align: center;
	}
	p {
		font-size: 90%;
	}
	nav img {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	#wrapper {
		min-width: auto;
	}
	h1, h2, h3 {
		font-size: 100%;
    text-align: center;
	}
	p {
		font-size: 80%
	}
	nav li {
		display: block;
	}
	nav a {
		display: block;
		padding: .5em 0;
		border-bottom: 2px ridge #00005d;
	}
	nav img {
		display: none;
	}
  aside {
    margin-top: 50px;
    margin-bottom: 10px;
  	float: none;
  	width: auto;
  }
}
